@import "../../../../assets/styles/vars";
@import "../../../../assets/styles/mixins";

.square {
    border: 1px solid $blue;
    border-radius: 10px;
    box-shadow: 0px 0px 7px 2px $blue;
    cursor: pointer;
    margin: 1rem;
    width: 70px;
    height: 70px;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: all linear 0.1s;

    &:hover {
        box-shadow: 0px 0px 10px 5px $blue;
    }

    &.winner {
        border: 1px solid $green;
        box-shadow: 0px 0px 10px 3px $green;
    }

    img {
        width: 60px;
        transition: all linear 0.3s;
    }

    @include breakpoint($mobile) {
        width: 42px;
        height: 42px;
        margin: 0.55rem;
        box-shadow: 0px 0px 3px 1px $blue;

        &:hover {
            box-shadow: 0px 0px 3px 1px $blue;
        }
    
        &.winner {
            box-shadow: 0px 0px 3px 1px $green;
        }

        img {
            width: 32px;
        }
    }
}