@import "../../../assets/styles/vars";
@import "../../../assets/styles/mixins";


.menu {
    padding: 10vh 1.5rem;
}

.menu__settings {
    margin: 5rem auto 2rem;
    width: 30vw;

    button {
        width: 100%;
    }

    @include breakpoint($tablet) {
        width: 40vw;
    }

    @include breakpoint($mobile) {
        width: 80vw;
    }
}

.menu__fields {
    display: grid;
    grid-template-rows: 1fr 1fr;
    gap: 1.5rem;
    margin: 3rem 0;
}

.menu__select {
    margin-top: 2rem;
    
    select {
        width: 100%;
    }
}