@import "../../../../assets/styles/vars";
@import "../../../../assets/styles/mixins";

.board {
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    width: 300px;

    &.size5 {
        width: 500px;
    }

    @include breakpoint($mobile) {
        width: 200px;

        &.size5 {
            width: 300px;
        }
    }
}