@import "../../../../../assets/styles/vars";
@import "../../../../../assets/styles/mixins";

.player {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.player__img {
    width: 4rem;

    @include breakpoint($mobile) {
        width: 3.5rem;
    }
}

.player__text {
    font-size: 1.6rem;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}